// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.multilevel-nav {
  background-color: #eee;
}

.multilevel-nav .nav-pills > li > a {
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.multilevel-nav .nav > li > a:hover,
.multilevel-nav .nav > li > a:focus {
  background-color: #FFF;
}

.multilevel-nav .nav-pills > li.active > a {
  background-color: #428bca;
}

.multilevel-nav .nav {
  padding: 6px 0 0;
}

.multilevel-nav .nav:after {
  content: "";
  width: 100%;
  background-image:-webkit-gradient(linear, left top, right top, color-stop(0, #fff), color-stop(0.5, #fff), color-stop(1, #fff));
  height: 2px;
  margin: 5px auto 0px;
}

.multilevel-nav .nav-title {
  padding: 10px 0px 5px 15px;
  display: inline-block;
  color: #999;
}

.multilevel-nav .nav-title:after {
  font-family: 'icomoon';
  content: "\f0d7";
  color: #ccc;
  margin-left: 5px;
}

.multilevel-nav .sub-level {
  padding: 10px 30px 10px 30px;
}
