#scroll.scroll-x.scroll-y(style="width:80%" )
  %table
    -@products.each do |product|
      %tr(class="table table-striped table-hover" )
        %td(width="500px" height='200px')
          =image_tag(product[:image_url],:class => 'list_image')
        %td(class="list_description" width="400px")
          %dl
            %dt
              =product[:title]
              %dd
                品牌：
                =product[:logo]
              %dd
                颜色：
                =product[:color]
              %dd
                尺寸：
                =product[:size]
              %dd
                价格：
                =product[:price]
        -if (@is_admin || User.find(session[:user_id]).admin == 'super')
          %td(class="list_actions" width="300px")
            =link_to '查看详情', products_path(product[:id])
            =link_to '编辑', '/products/'+ product[:id].to_s + '/edit'
            =link_to '删除', 'destroy/' + product[:id].to_s,:confirm => '确实要删除吗？',:method => :delete
        -else
          %td(class="list_actions" width="300px")
            =link_to '查看详情', products_path(product[:id])
    -if @products.length == 0 && @is_admin
      .text-center.alert.alert-danger
        %h3
          您还没有添加此类商品，
          =link_to '请点击这里开始添加' ,'/products/new'
    -if @products.length == 0 && !@is_admin
      .text-center.alert.alert-danger
        %h3
          该店铺还没有添加此类服装，敬请期待！
