.navbar.navbar-default.navbar-static-top
  .container
    .navbar-collapse.collapse
      %h4.text-center
        = @subject
      %ul.nav.navbar-nav.navbar-right
        %span 你好，
        %span
          =@user
          =link_to '退出','/users/quit'
        .btn-group
          %a.btn.btn-lg.dropdown-toggle(type="button" data-toggle="dropdown")
            %span.caret
          %ul.dropdown-menu
            -if request.url != "http://localhost:3001/products/shopping_cart"
              %li
                %a(href="#" onclick="jump_to_shopping_cart()" )购物车

