.navbar.navbar-default.navbar-static-top
  .container
    .navbar-collapse.collapse
      %div(style="float:left" )
        =image_tag(src = "logo.gif",width:200)
      %div(style="float:right" )
        %h3(style="float:left;padding-right:270px" )
          = @subject
        %ul(style="float:right" )
          %span 你好，
          %span
            =@name
            .btn-group
              %a.btn.btn-lg.dropdown-toggle(type="button" data-toggle="dropdown")
                %span.caret
              %ul.dropdown-menu
                -if request.url != "http://localhost:3001/products/shopping_cart" && !@is_admin && !@is_super
                  %li
                    %a(href="#" onclick="jump_to_shopping_cart()" )购物车
                -if @is_admin || @is_super
                  %li
                    %a(href = "#{new_products_path}") 新建商品
                -if @is_super && request.url != 'http://localhost:3001/users/super_index'
                  %li
                    %a(href = "/users/super_index") 用户列表
                -if request.url != "http://localhost:3001/products/index"
                  %li
                    %a(href="/products/index" )商品列表
                -if (@is_admin || @is_super )
                  -if request.url != 'http://localhost:3001/products/order_index'
                    %li
                      %a(href = "/products/order_index") 订单管理
                  -if request.url != 'http://localhost:3001/products/scan_orders'
                    %li
                      %a(href = "/products/scan_orders") 已完成订单
                -else
                  -if request.url != 'http://localhost:3001/products/order_index'
                    %li
                      %a(href="/products/order_index")我的订单
                %li
                  %a(href="/users/quit" )退出