.col-md-2
  .multilevel-nav
    %ul.nav.nav-pills.nav-stacked
      %li#all.active
        %a(href='/products/index' onclick="turn_css(this)")全部服装
    %ul.nav.nav-pills.nav-stacked
      %li#girl_tops
        %a(href='/products/girl/tops' onclick="turn_css(this)" )女士上装
    %ul.nav.nav-pills.nav-stacked
      %li#girl_bottoms
        %a(href='/products/girl/bottoms' onclick="turn_css(this)")女士裤装、裙装
    %ul.nav.nav-pills.nav-stacked
      %li#boy_tops
        %a(href='/products/boy/tops' onclick="turn_css(this)")男士上装
    %ul.nav.nav-pills.nav-stacked
      %li#boy_bottoms
        %a(href='/products/girl/bottoms' onclick="turn_css(this)")男士裤装
.col-md-10