.col-md-2
  .multilevel-nav
    %ul.nav.nav-pills.nav-stacked
      %li
        %a(href='/products/girl/tops')女上装
    %ul.nav.nav-pills.nav-stacked
      %li.active
        %a(href='/products/girl/bottoms')女下装
    %ul.nav.nav-pills.nav-stacked
      %li
        %a(href='/products/boy/tops')男上装
    %ul.nav.nav-pills.nav-stacked
      %li
        %a(href='/products/girl/bottoms')男下装
.col-md-10