=render 'header'
%br
.container(style="width:90%" )
  .modal-content
    .modal-header
      添加商品的颜色、尺码以及图片
    .modal-body
      .form-group
        %label.col-sm-2.control-label 商品颜色:
        .dl-horizontal.filter-dl.filter-checkbox
          %dd
            %a.label.label-primary(href="javascript:{}" onclick="select_keywords_of_add_tags(this)") 白色
            %a.label.label-blank(href="javascript:{}" onclick="select_keywords_of_add_tags(this)") 黑色
            %a.label.label-blank(href="javascript:{}" onclick="select_keywords_of_add_tags(this)") 黑色
            %a.btn.btn-primary(href="javascript:{}" onclick="add_tags_input()")
              添加颜色
            %div#tags_div
              .col-xs-2.none
                %input.form-control(type="text" onkeyup="check_save_button_disabled()" )
      %hr

      .form-group
        %label.col-sm-2.control-label 商品尺码:
        .dl-horizontal.filter-dl.filter-checkbox
          %dd
            %a.label.label-blank(href="javascript:{}" onclick="select_keywords_of_add_tags(this)") XL
            %a.label.label-blank(href="javascript:{}" onclick="select_keywords_of_add_tags(this)") L
            %a.label.label-blank(href="javascript:{}" onclick="select_keywords_of_add_tags(this)") L


            %a.btn.btn-primary(href="javascript:{}" onclick="add_tags_input()")
              添加尺码
            %div#tags_div
              .col-xs-2.none
                %input.form-control(type="text" onkeyup="check_save_button_disabled()" )
      %hr

      .form-group
        %label.col-sm-2.control-label 商品图片:
        .dl-horizontal.filter-dl.filter-checkbox
          %dd
            %a.label.label-blank(href="javascript:{}" onclick="select_keywords_of_add_tags(this)")
            %a.label.label-blank(href="javascript:{}" onclick="select_keywords_of_add_tags(this)")
            %a.label.label-blank(href="javascript:{}" onclick="select_keywords_of_add_tags(this)")
            %a.btn.btn-primary(href="javascript:{}" onclick="add_tags_input()")
              添加图片
            %div#tags_div
              .col-xs-2.none
                %input.form-control(type="text" onkeyup="check_save_button_disabled()" )
      .modal-footer
        %a.btn.btn-default.btn-lg(href="#" data-dismiss="modal") 取消
        %a.btn.btn-primary.btn-lg#set_tag_rules(href="#" data-dismiss="modal" data-target="#modal-add-tags" data-toggle="modal" href="#" onclick="save_keyword_rules()" disabled='true') 下一步

