=render 'header'
%br
.container(style="width:70%" )
  %div#setting
    .form-group#color
      %label.col-sm-2.control-label 商品颜色:
      .dl-horizontal.filter-dl
        %dd
          %a.label.label-blank(href="javascript:{}" onclick="select_color(this)") 白色
          %a.label.label-blank(href="javascript:{}" onclick="select_color(this)") 黑色
          %a.label.label-blank(href="javascript:{}" onclick="select_color(this)") 红色
          %a.label.label-blank(href="javascript:{}" onclick="select_color(this)") 黄色
          %a.label.label-blank(href="javascript:{}" onclick="select_color(this)") 粉色
          %a.label.label-blank(href="javascript:{}" onclick="select_color(this)") 蓝色
          %br
          %br
          .col-xs-2
            %input.form-control(type="text")
          .col-xs-2.none
            %input.form-control(type="text" )
          %a.btn.btn-primary(href="javascript:{}" onclick="add_color_input(color)")
            添加颜色
    %hr
    .form-group#size
      %label.col-sm-2.control-label 商品尺码:
      .dl-horizontal.filter-dl
        %dd
          %a.label.label-blank(href="javascript:{}" onclick="select_color(this)") S
          %a.label.label-blank(href="javascript:{}" onclick="select_color(this)") L
          %a.label.label-blank(href="javascript:{}" onclick="select_color(this)") XL
          %a.label.label-blank(href="javascript:{}" onclick="select_color(this)") XXL
          %a.label.label-blank(href="javascript:{}" onclick="select_color(this)") XXXL
          %br
          %br
          .col-xs-2
            %input.form-control(type="text")
          .col-xs-2.none
            %input.form-control(type="text" )
          %a.btn.btn-primary(href="javascript:{}" onclick="add_size_input(size)")
            添加尺码
    %hr
    .form-group#sort
      %label.col-sm-2.control-label 商品类别:
      .dl-horizontal.filter-dl
        %dd
          %a.label.label-blank(href="javascript:{}" onclick="select_color(this)") 男士上装
          %a.label.label-blank(href="javascript:{}" onclick="select_color(this)") 男士裤装
          %a.label.label-blank(href="javascript:{}" onclick="select_color(this)") 女士上装
          %a.label.label-blank(href="javascript:{}" onclick="select_color(this)") 女士裤装、裙装
      %hr
  %div(style="padding-left:250px" )
    %a.btn.btn-primary.btn-lg#save_setting(href="#"  onclick="save_settings()") 保 存


  #add_img.container.none(style="width:80%" )
    .alert.alert-success.fade.in.text-center
      %h4(style="padding:10px" ) 商品信息保存成功，下面开始上传此商品图片

    %button#upload_excel_close.close(type="button" data-dismiss="modal" aria-hidden="true")
    %h4  批量上传图片
    = form_for :upload_file, :html => {:onsubmit=>"return check_file()",:method=>'post',} do |f|
      = f.file_field :user_info_file, :multiple => true
      = f.submit "上传", :class=>'btn btn-primary btn-block btn-lg', :id => 'upload_excel_submit'
  #add_img_edit.none
    .alert.alert-success.fade.in.text-center
      %h4(style="padding:10px")上传成功！


