#product_list
  %h1 商品列表
%table
  -@products.each do |product|
    %tr(class="cycle('list_Line_odd','list_line_even')" )
      %td
        =image_tag(product.img_url,:class => 'list_image')
      %td(class="list_description")
        %dl
          %dt
            =product.title
            %dd
              =truncate(strip_tags(product.description),:length=>80)
      %td(class="list_actions")
        =link_to '展示',product
        =link_to '编辑',edit_products_path(product)
        =link_to '删除',product,:confirm => '确实要删除吗？',:method => :delete

=link_to '新建商品',new_products_path