-if notice
  %p(id = 'notice')
    = notice

%h1 your pragmatic
-@products.each do |product|
  .entry
    =image_tag(product.image_url)
    %h3
      =product.title
    =sanitize(product.description)
    .price_line
      %span(class="price")
        =product.price